@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
/* Font is "Sedgwick Ave */

body {
    color: pink;
    font-weight: bold;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/background.jpg");

}

#home-page {
    font-size: 3.5rem;
    margin-top: 10px;
    font-family: "Sedgwick Ave", sans-serif;

}

h1 {
    font-size: 3rem;
    font-family: "Sedgwick Ave", sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-bottom: -5px;
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-family: "Sedgwick Ave", sans-serif;
}

p {
    font-size: 1.5rem;
    font-family: "Sedgwick Ave", sans-serif;
}

.buttons {
    background-color: goldenrod;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px 20px;
    border-radius: 10%;
    margin: 0 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-left: auto;
    margin-right: auto; 
}

.buttons:hover {
    background-color: #04AA6D;
    transition-duration: 0.4s;

}

#game-area {
    text-align: center;
    padding: 30px 5px 0px;
}

#rock {
    color: orange;
    padding: 10px;
}

#paper {
    color: blue;
    padding: 10px;
}

#scissors {
    color: silver;
    padding: 10px;
}

#lizard {
    color: green;
    padding: 10px;
}

#spock {
    color: red;
    padding: 10px;
}

#rock,
#paper,
#scissors,
#lizard,
#spock {
    font-size: 5rem;
    cursor: pointer;
    max-width: 66%;
    text-align: center;
    background-color: black;
    border-radius: 25%;
}

#rock:hover {
    background-color: #04AA6D;
    transition-duration: 0.4s;
}

#paper:hover {
    background-color: #04AA6D;
    transition-duration: 0.4s;
}

#scissors:hover {
    background-color: #04AA6D;
    transition-duration: 0.4s;
}

#lizard:hover {
    background-color: #04AA6D;
    transition-duration: 0.4s;
}

#spock:hover {
    background-color: #04AA6D;
    transition-duration: 0.4s;
}

#player-result,
#computer-result {
    font-size: 2rem;
    background-color: black;
}

#final-result {
    font-size: 3rem;
    margin-top: 20px;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    width: 335px; 
}

.grid-item {
    background-color: black;
    border: 1px solid white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.green-text,
#overall-player-total {
    color: green;
    text-align: center;
}

.red-text,
#overall-computer-total {
    color: red;
    text-align: center;
}

.white-text,
#overall-tie-total {
    color: white;
    text-align: center;
}

#instructions {
    background-color: black;
    border-radius: 10%;
    margin: 15px;
}

#rock-icon {
    color: orange;
    font-size: 2rem;
    padding: 10px;
}

#paper-icon {
    color: blue;
    font-size: 2rem;
    padding: 10px;
}

#scissors-icon {
    color: silver;
    font-size: 2rem;
    padding: 10px;
}

#lizard-icon {
    color: green;
    font-size: 2rem;
    padding: 10px;
}

#spock-icon {
    color: red;
    font-size: 2rem;
    padding: 10px;
}